@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrap{
    width: 600px;
    margin: 50px auto;
}
.fullImg{
    width: 100%;
    position: relative;
    display: block;
}
.thumb-bar{
    display: flex;
    width: 100%;
}
.thumb-bar img{
    width: calc(100% / 5);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blanchedalmond;
}